ion-content ion-toolbar {
  --background: translucent;
}

ion-menu ion-content {
  --ion-background-color: var(--ion-color-secondary-contrast) !important;
}

a{
  color:blue;
}

.item-icon{
  position: relative;
  top: 3px;
}

.item-icon-w{
  position: relative;
  top: 7px;
}

.logo-menu-content{
  margin-top:25px;
  display: flex;
  justify-content: center;
}

.subtitle{
  font-size: 15px;
  color: rgb(219, 221, 118);
}

ion-title{
  font-size: 18px;
}


ion-content {
  --ion-background-color: #14051c; /* Cambia el color a tu preferencia */
}

#ritmotoplatinovideo {
  border: 1px solid #23202e;
}